.search-container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.input-search{
    width: 280px;
    padding: 6px;
    font-size: 16px;

}
.search-container button{
    border: none;
    
    float: right;
   
}

.shop-cat-box img {
    height: 400px; /* Adjust the height as needed */
   
   
}
.shop-cat-box{
    border:none;
}
.shop-text{
    
}

.col-lg-3,
    .col-md-3,
    .col-sm-6,
    .col-xs-6 {
        padding: 0 5px; /* Adjust the padding as needed */
    }
/** ADD YOUR AWESOME CODES HERE **/