<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class=" form-container">
        <h2>LOGIN</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text"id="name" name ="username"placeholder="enter your name"required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD:</label>
                <input type="password" id="password" name="password" placeholder="password" required>

            </div>
            <button type="submit"class="submit-btn">login</button>
         </form>
         <p>Don't have an account? Create  <br> <a href="/signup">signup</a></p>

    </div>
</body>
</html>